* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#chat {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2vw;
}

input {
  width: 60vw;
  border: 1px solid #ddd;
  height: 5vw;
  padding: 0 2vw;
  font-size: 1.5vw;
}

button {
  width: 60vw;
  height: 5vw;
  font-size: 1.5vw;
  background: #069;
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  color: #fff;
  margin-top: 1vw;
  border: none;
}

.messages {
  background-color: wheat;
  border: 1px solid #ddd;
  height: 40vw;
  margin: 2vw 0;
  overflow: auto;
  padding: 2vw;
  width: 60vw;
}
